.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #1c1c1c;
  padding: 20px;
  gap: 2rem;
  color: white;
  padding-top: 80px;
}

.imageWrapper {
  flex-shrink: 0;
  
}

.image {
  width: 250px; /* Tamanho fixo para garantir proporção */
  height: 250px; /* Deve ser igual ao width */
  border-radius: 50%; /* Faz a imagem ficar redonda */
  border: 3px solid grey; /* Adiciona borda */
  object-fit: cover; /* Garante que a imagem preencha sem deformar */
}

.textWrapper {
  display: flex;
  flex-direction: column;
}

.name {
  font-size: 2rem;
  font-weight: bold;
  color: #ff9001; /* Cor dourada para destaque */
}

.description {
  font-size: 1.5rem;
  margin-top: 0.5rem;
}

.animationContainer {
  position: absolute; /* Mantém a animação fixa na tela */
  bottom: 20px; /* Distância do fundo */
  right: 20px; /* Distância da direita */

  pointer-events: none; /* Evita que a animação bloqueie cliques em elementos abaixo */
}


/* Estilo para o texto da animação */

.cursor{
    position: relative;
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 30px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}
/* Animation */
.typewriter-animation {
  animation: 
    typewriter 5s steps(50) 1s 1 normal both, 
    blinkingCursor 500ms steps(50) infinite normal;
}
@keyframes typewriter {
  from { width: 0; }
  to { width: 100%; }
}
@keyframes blinkingCursor{
  from { border-right-color: rgba(255,255,255,.75); }
  to { border-right-color: transparent; }
}